<div class="nav-links__mobile">
  <button {{action (action (mut isOpen) (not isOpen))}} class="nav-links__menu-button">{{if isOpen 'Close' 'Menu'}}</button>
</div>

<ul class="nav-list">
{{#each routes as |link|}}
  <li>
    {{#if link.url}}
      <a href={{link.url}} target="_blank" class="nav-link">{{link.label}} {{svg-icon 'popout-icon' class='popout-icon'}}</a>
    {{else}}
      {{link-to link.label link.route classNames="nav-link"}}
    {{/if}}
  </li>
{{/each}}
</ul>
