<form class="invite-search__form">
  <div class="invite-search__wrapper">
    <label for={{concat 'input-' elementId}} class="invite-search__label">
      Enter your name, email, or mailing address below to RSVP.
    </label>
  </div>
  <div class="invite-search__wrapper">
    {{input
      data-test-invite-input
      id=(concat 'input-' elementId)
      value=query
      class="invite-search__input"
      enter=(perform search query)
      placeholder="e.g. 125 Main Street, Jane Smith, or email@example.com"
    }}
  </div>

  <div class="invite-search__wrapper">
    <button
      data-test-invite-submit
      class="invite-search__button"
      type="submit"
      disabled={{search.isRunning}}
      onclick={{perform search query}}>
      {{#if search.isRunning}}
        {{fa-icon prefix='fas' icon='spinner' spin=true}}
      {{/if}}
      Search
    </button>
  </div>
</form>

{{#if search.isRunning}}
<div class="invite-search__loading">
  {{fa-icon prefix='fas' icon='spinner' spin=true size='4x'}}
</div>
{{else if results}}
<ul class="invite-search__results">
  {{#each results as |result i|}}
  <li
    class="invite-search__item"
    data-test-invite-result={{i}}
    {{action choseInvite result}}>
    {{#each (slice-address result.address) as |line|}}
      {{line}}<br />
    {{/each}}
  </li>
  {{/each}}
</ul>
{{else if (and (not search.isRunning) (gt search.performCount 0))}}
<p class="invite-search__copy">
  No results
</p>
{{/if}}
