{{!-- for styling --}}
{{input
  id=(concat 'checkbox-' elementId)
  type="checkbox"
  class="guest-checkbox__input"
  checked=(get guest name)
  name=name
}}

<label for={{concat 'checkbox-' elementId}} class="guest-checkbox__label">
  {{label}}
</label>

{{yield}}

{{#if (and touched (get guest name))}}
  <div class="checkbox-yay">
    {{svg-icon 'popper'}}
  </div>
{{else if touched}}
  <div class="checkbox-boo">
    {{svg-icon 'cat'}}
  </div>
{{/if}}
