<div class="invite-detail__guests">
  {{#each invitation.guests as |guest i|}}

  <div class="invite-detail__guest">
    {{#guest-detail data-test-guest-detail-index=i guest=guest as |row|}}
      {{row.name}}

      {{row.wedding}}
      {{#row.brunch}}
        How about brunch on Sunday? {{brunch-info}}
      {{/row.brunch}}

      {{#if invitation.rehearsalDinner}}
        {{row.rehearsal}}
      {{/if}}

    {{/guest-detail}}
  </div>

  {{/each}}
</div>

<div class="invite-detail__music">
  <label
    class="invite-detail__music-label"
    for="song-request">
    Unless you play this song, I won't dance:
  </label>

  {{textarea
    id="song-request"
    rows="6"
    cols="80"
    class="invite-detail__music-input"
    value=invitation.musicPref
    placeholder="e.g. YMCA by The Village People"}}
</div>

<div class="invite-detail__footer">
  <button
    class="invite-detail__submit"
    type="submit"
    data-test-submit-rsvp
    {{action send}}>
    Submit
  </button>
</div>
