<h2 class="invite-detail__header">
  Who's Coming?
</h2>

<div class="invite-detail__guests">
  <div class="invite-header">
    <div class="invite-header__name">
      Name
    </div>
    <div class="invite-header__flex-col">
      The Wedding!
    </div>
    <div class="invite-header__flex-col">
      Sunday Brunch
    </div>
    {{#if invitation.rehearsalDinner}}
    <div class="invite-header__flex-col">
      Rehearsal Dinner
    </div>
    {{/if}}
  </div>
  {{#each guests as |guest i|}}

    {{#guest-detail data-test-guest-detail-index=i guest=guest as |row|}}
      {{row.name}}
      {{row.wedding}}
      {{row.brunch}}

      {{#if invitation.rehearsalDinner}}
        {{row.rehearsal}}
      {{/if}}
    {{/guest-detail}}

  {{/each}}
</div>

{{#if invitation.plusOne}}
<div class="invite-detail__plus-one" data-test-plusone>
  <div class="invite-detail__edit">
    <button type="button" data-test-edit-plusone {{action (mut editName) (not editName)}}>
      edit
    </button>
  </div>
  {{#guest-detail guest=plusOne as |row|}}
    {{row.name canEditName=editName}}

    {{row.wedding}}
    {{row.brunch}}
    {{#if invitation.rehearsalDinner}}
      {{row.rehearsal}}
    {{/if}}

  {{/guest-detail}}
</div>
{{/if}}

<div class="invite-detai__footer">
  <button type="submit" data-test-submit-rsvp {{action send}}>
    Submit
  </button>
</div>
