<h1 class="invite-detail__header">
  Who's Coming?
</h1>
<div class="invite-detail__guests {{if (eq guests.length 1) 'invite-detail__guests--solo'}}">
  {{#each guests as |guest i|}}

  <div class="invite-detail__guest">
    {{#guest-detail data-test-guest-detail-index=i guest=guest as |row|}}
      {{row.name needPlusOne=needPlusOne}}

      {{row.wedding}}
      {{#row.brunch}}
        {{brunch-info}}
      {{/row.brunch}}

      {{#if invitation.rehearsalDinner}}
        {{row.rehearsal}}
      {{/if}}

    {{/guest-detail}}
  </div>

  {{/each}}
</div>

<div class="invite-detail__music">
  <label
    class="invite-detail__music-label"
    for="song-request">
    Unless you play this song, I won't dance:
  </label>

  {{textarea
    id="song-request"
    rows="3"
    cols="80"
    class="invite-detail__music-input"
    value=invitation.musicPref
    placeholder="e.g. YMCA by The Village People"}}
</div>

<div class="invite-detail__note">
  <label
    class="invite-detail__note-label"
    for="note">
    Anything else we should know?
  </label>

  {{textarea
    id="note"
    rows="3"
    cols="80"
    class="invite-detail__note-input"
    value=invitation.note
    placeholder="e.g. Can't wait!"}}
</div>

<div class="invite-detail__footer">
  <button
    class="invite-detail__submit {{if needPlusOne 'has-error'}}"
    type="submit"
    data-test-submit-rsvp
    {{action send}}>
    Submit
  </button>

  <hr />

  <button
    class="invite-detail__reset"
    type="button"
    data-test-reset-rsvp
    {{action newSearch}}>
    Start Over
  </button>
</div>
