{{set-body-class "rsvp"}}

<main class="rsvp-body">
  {{#if showRSVP}}
  <h1 class="rsvp-header">Come as You Are<br />(But Nicer)</h1>

  <section class="rsvp-block">
    {{#if checkingStatus}}
      {{status-form switch=(action (mut checkingStatus) false)}}
    {{else}}
      {{rsvp-form switch=(action (mut checkingStatus) true)}}
    {{/if}}
  </section>
  {{else}}
  <h1 class="rsvp-header">RSVP Not Open Yet</h1>
  {{/if}}
</main>
