{{set-body-class "rsvp"}}

<main class="rsvp-body">
  {{#if (or showRSVP rsvp)}}
  <section class="rsvp-block">
    {{#if success}}
      {{invite-success invitation=invitation reset=(action reset)}}
    {{else if invitation}}
      {{invite-detail invitation=invitation sendResponse=(action sendResponse)}}
    {{else}}
      {{invite-search onSelect=(action (mut invitation))}}
    {{/if}}
  </section>
  {{else}}
    <h1 class="rsvp-header">RSVP Not Open Yet</h1>
  {{/if}}
</main>
